{% extends 'base.html.twig' %}

{% block title %}Liste des mails{% endblock %}

{% block body %}


    {% for message in app.flashes('message') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}

    <a href="{{ path('app_sender') }}">Envoyer un nouveau</a>

{% endblock %}
